@import url('./toggleButton.css');

body{
  background-image: url("../assets/bgimg.jpg");
  
}
.App {
  text-align: center;
  
}

#dialDigit{
  position: absolute;
  margin-top: -55%;
  margin-left: 37%;
  }
  
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AnalyticsPage{
  position: absolute;
  margin-top: 30%
}
.statusPage{

position: absolute;
margin-top: 40%;
margin-left: 17%;
}

.SettingsPage{
  position: absolute;
  margin-top: 80%;
  margin-left: 35%;
}

.LoginPage{

  position: absolute;
  margin-top: 45%;
  margin-left: 10%;
}
.ManageUsersPage{
  position: absolute;
  margin-top: 50%;
  margin-left: 20%;
}

.ManageDevicePage{
  position: absolute;
  margin-top: 50%;
  margin-left: 20%;
}

.SchedulesPage{
  position: fixed;
  margin-top: 50%;
  margin-left: 20%;
}
.AddSchduelePopUpMenu{
  background-image: url("../assets/bgimg.jpg");
  position : absolute;
  margin-left: -5%;
  width: 150%;
  height: 210%;
}

li{
  text-align: right;
}

#logoutButton{
  margin-top: 550%;
  margin-left: -10%;
}


.AddSchduelePopUpMenuContents{
  margin-top:10%;
  margin-left:5%;
}
#addScheduleButton{
  margin-top:60%;
  margin-left:22%;
}
#listOfCurrentSchedules{
  margin-top:50%;
  margin-left:-5%;
}

#event{
  background-color:#bdc3c7;
  margin-top:5%;
  margin-right:5%;
  margin-left:-10%;
  padding: 2%;
  border-radius:8%;
}
#eventxbutton{
  height:5%;
  width:5%;
}
#scheduleHeadline{
  font-size: 150%;
  margin-top:-30%;
  margin-left:25%;
}

#dialController{
  margin-top:-20%;
  margin-left: -7%;
}

#toggleButtonDiv{
  margin-left: -15%;
  margin-top: 10%;
}